
<% layout('layouts/boilerplate')%>
<div class="container d-flex justify-content-center align-items-center ">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-5 offset-xl-4">
            <div class="card shadow">
                <img src="https://res.cloudinary.com/dgcnzszfm/image/upload/v1669532832/Campgrounds/ti2k1gwabj1miogc6h0e.webp"
                    alt="" class="card-img-top" />
                <div class="card-body">
                    <h5 class="card-title">Register</h5>
                    <form action="/register" method="POST" class="validated-form" novalidate>
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required autofocus maxlength="10" minlength="6">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                               Username must contain min 6 characters max 10 characters
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required minlength="14">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                Please provide valid Email
                             </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required maxlength="10" minlength="6">
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                            <div class="invalid-feedback">
                                password must be between 6 to 10 characters
                             </div>
                        </div>
                        <button class="btn btn-success btn-block">Register</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>